@import "../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
    background-color: #222;
    height: 5vh;
    color: #fff;
}

.screen {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    height: 90vh;

    > div {background-color: red;}
}
.buttons {
  button {
    margin: 3px;;
    display: inline-block;
  }
}